$font-family: Tahoma, sans-serif;

$map-border-color: #fff;
$map-sea-color: #3578a8;
$map-fill-color: #f0eeed;
$map-fill-hover: #dc5147;

$map-tooltip-info-color: #fff;
$map-tooltip-info-bg: rgba(44, 62, 80, .8);