$font-family: Tahoma, sans-serif;

$map-border-color: #fff;
$map-sea-color: #3578a8;
$map-fill-color: #f0eeed;
$map-fill-hover: #bdc3c7;

$map-tooltip-info-color: #fff;
$map-tooltip-info-bg: rgba(44, 62, 80, .8);

$map-location-container-supermarket-color: #f39c12;
$map-location-container-pharmacy-color: #27ae60;

$map-info-bg: #f1f2f6;